html,body{
	width: 100%;
	height: 100%;
}
body{
	background-color: #F6F6F6 !important;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-attachment: fixed;
	/*background-color: #f6f6f6 !important;*/
}
.container{
	background-color: #f6f6f6;
	margin-top: 20px;
	border-radius: 15px;
}
.middle{
	margin: 0 auto;
}
.middle h1{
	word-break: break-all;
}
.img{
	width: 120px;
	height: 140px;
}
.left{
	float:left;
	margin-bottom: 30px;
}
.test{
	margin: 0 auto;
	width: 50%;
}
.con h3{
	color: #d33d3b;
}
/*h1.test {
    word-wrap: break-word;
}*/
.cancel{
	margin-left:10px;
}
@media (max-width: 991px) and (min-width: 769px){

}
@media (min-width: 992px){
	/* wieksze -   md-lg*/

}
@media (max-width: 768px ) and (min-width: 577px){
	
}

@media (max-width: 576px){
	/* xs */
	/*.img{
		width: 240px;
		height: auto;
		margin: 0 auto;
	}*/
	
}
