.navbar{
	border-radius: 0px !important;
}
.navbar-inverse{
	background-color: #002029 !important;
}
.img{
	width: 149px;
	height: 50px;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-left: 25px !important;
}
.login{
	color: white;
	padding: 15px;
	line-height: 20px;
	position: relative;
	display: block;
}
.line-dir{
	width:860px;
	height:34px;
	border:1px solid #d2d6e0; 
	background-color: #e5e6e8
}
.line-file{
	width:860px;
	height:35px;
	border:1px solid #dcdee2; 
	background-color: #eff0f2
}
.ext-dir{
	float:left;
	width:60px;
	height:33px;
	text-align: center;
	border-right:1px solid #d2d6e0;
	padding-top: 5px;
}
.ext-file{
	float:left;
	width:60px;
	height:34px;
	text-align: center;
	border-right:1px solid #dcdee2; 
	padding-top: 5px;
}
.file-file{
	width:400px;
	height:34px;
	border-right:1px solid #dcdee2;
	float:left;
}
.file-dir{
	width:400px;
	height:33px;
	border-right:1px solid #d2d6e0;
	float:left;
}
.update-dir{
	float:left;
	width:170px;
	height:33px;
	text-align: center;
	border-right:1px solid #d2d6e0;
	padding-top: 5px;
}
.update-file{
	float:left;
	width:170px;
	height:34px;
	text-align: center;
	border-right:1px solid #dcdee2;
	padding-top: 5px;
}
.size-dir{
	float:left;
	width:80px;
	height:33px;
	text-align: center;
	border-right:1px solid #d2d6e0;
	padding-top: 5px;
}
.size-file{
	float:left;
	width:80px;
	height:34px;
	text-align: center;
	border-right:1px solid #dcdee2;
	padding-top: 5px;
}
.delete-dir{
	float:left;
	width:148px;
	height:34px;
}
.delete-dir-file{
	float:left;
	width:60px;
	height:34px;
	border-right:1px solid #dcdee2;
}
.download-file{
	float: left;
	width: 88px;
	height: 25px;
}
.btn-delete-dir{
	height: 100%;
	width: 100%;
}
.delete{
	padding: 5px 5px !important;
}
.download{
	padding: 5px 10px !important;
}
.back-div{
	width:860px;
	height:45px;
	background-color: #F5F5DC;
	border: 1px solid #ededd7;
}
.back-btn{
	margin-left: 30px;
	margin-top: 5px;
}

.path a{
	color: #002029;
}
.path a:hover{
	color: #002029;
}
/*.path{
	font-weight: bold;
}*/
@media (min-width: 992px){
	/* wieksze -   md-lg*/
.path{
	margin-left: 100px;
}
}
@media (max-width: 991px) and (min-width: 769px){
	
.path{
	margin-left: 50px;
}
.line-dir{
		width:740px;
}
.file-dir{
	width: 316px;
}
.ext-dir{
	width: 72px;
}
.delete-dir{
	width: 100px;
}
.line-file{
	width:740px;
}
.file-file{
	width: 316px;
}
.ext-file{
	width: 72px;
}
.delete-dir-file{
	width: 50px;
}
.download-file{
	width:50px;
}
.download-file button{
	display: block;
	margin: 0 auto;
}
.delete-dir-file button{
	display: block ;
	margin: 0 auto;
}
}
@media (max-width: 768px ) and (min-width: 577px){
	/* sm */
.path{
	margin-left: 50px;
}
.line-dir{
	width:560px;
	height:34px;
	border:1px solid #d2d6e0; 
	background-color: #e5e6e8
}
.line-file{
	width:560px;
	height:35px;
	border:1px solid #dcdee2; 
	background-color: #eff0f2
}
.file-dir{
	width: 330px;
}
.file-file{
	width: 330px;
}
.download-file button{
	display: block;
	margin: 0 auto;
}
.delete-dir-file button{
	display: block ;
	margin: 0 auto;
}
.delete-dir-file{
	width: 74px;
}
.download-file{
	width: 74px;
}
}

@media (max-width: 576px){
	/* xs */
.path{
	margin-left: 15px;
}
.line-dir{
	width:520px;
	height:34px;
	border:1px solid #d2d6e0; 
	background-color: #e5e6e8
}
.file-dir{
	width:335px;
}
.delete-dir{
	width: 100px;
}
.file-file{
	width: 335px;
}
.line-file{
	width:520px;
	height:35px;
	border:1px solid #dcdee2; 
	background-color: #eff0f2
}
.delete-dir-file{
	width: 50px;
}
.download-file{
	width: 50px;
}
.download-file button{
	display: block;
	margin: 0 auto;
}
.delete-dir-file button{
	display: block ;
	margin: 0 auto;
}
}
