html,body{
	width: 100%;
	height: 100%;
}
body{
	background-image: url("../img/main3.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-attachment: fixed;
}
.register-main{
	width: 100%;
	height: 100%;
}
.register-form h1{
	text-align: center;
}
.register-content{
	background: rgba(230, 233, 237, 0.88);
	width: 500px;
	margin-top: 60px;
	border-radius: 30px;
}
.register-content input{
	width: 93%;
}
.goback-btn{
	display: block;
	margin: 0 auto;
}
.img-logo{
	width: 230px;
	height: 120px;
	display: block;
	margin: 0 auto;
	padding: 10px 30px;
	border-bottom: 2px solid #00802B;
}

/*.oferta{
	background-color: #eddede;
}
.ofeta , h2{
	text-align: center;
	margin-top: 50px;
}
.block{
	float: left;
	margin-top: 70px;
}
.block > h3{
	text-align: center;
}
.row{
	margin-top: 40px;
	margin-bottom: 40px;
}*/

@media (min-width: 992px){
	.register-content{
		position: relative;
		left: 25%;
		/*padding-left: 60px !important;*/
	}
	.register-form input{
	margin-left: 30px ;
	}
	.register-form span{
	padding-left: 35px;
	}
}

@media (max-width: 991px){
	.register-content{
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	
}
