html,body{
	width: 100%;
	height: 100%;
}
body{
	background-image: url("../img/main2.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-attachment: fixed;
}
.register-main{
	width: 100%;
	height: 100%;
	/*background-image: url("../img/main2.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;*/
}
.register-form{
	
}
.register-form h1{
	text-align: center;
}
.register-form input{
	width: 93%;
}
#reg_h1{
	text-align: center;
}
.register-content{
	width: 500px;
	margin-top: 60px;
	border-radius: 30px;
	background: rgba(255,255,255, 0.8);
}
.goback-btn{
	display: block;
	margin: 0 auto;
}
.img-logo{
	width: 220px;
	height: 120px;
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
	border-bottom: 2px solid red;
}
.oferta{
	background-color: #eddede;
}
.ofeta , h2{
	text-align: center;
	margin-top: 50px;
}
.block{
	float: left;
	margin-top: 70px;
}
.block > h3{
	text-align: center;
}
.row{
	margin-top: 40px;
	margin-bottom: 40px;
}
footer{
	background-color: #db3939;
	width: 100%;
	height: 60px;
	padding-top: 20px;
}
.footer{
	text-align: center;
	font-size: 15px;
	color: white;
}
@media (min-width: 992px){
	.register-content{
		position: relative;
		left: 25%;
		padding-left: 60px !important;
	}
}

@media (max-width: 991px){
	.register-content{
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}
